{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
  <h1>Bem vindo ao Socket da Velha!</h1>
  <form method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <label for="room">ID da sala:</label>
      <input id="room" type="text" name="room_code" required />
    </div>
    <div class='form-control'>
      <label for="character_choice">Jogar como:</label>
      <select for="character_choice" name="character_choice">
        <option value="X">X</option>
        <option value="O">O</option>
      </select>
    </div>
    <input type="submit" class="button" value="Começar o jogo" />
</div>
</form>
{% endblock content %}